<div class={{ class }}>
    {{#if imageBeforeSrc}}
    <img class="{{ imageBeforeClass }}" src="{{ imageBeforeSrc }}" alt="{{ imagesAlt }}">
    {{/if}}
    {{#if text}}{{ text }}{{/if}}
    {{#if imageAfterSrc}}
   
    {{/if}}
</div>
