<div class="{{ class }}">
    {{#if imageBeforeSrc}}
    <img class="{{ imageBeforeClass }}" src="{{ imageBeforeSrc }}"  alt="{{ imagesAlt }}">
    {{/if}}
    {{#if text}}{{ text }}{{/if}}
    {{#if imageAfterSrc}}
    <img class="{{ imageAfterClass }}" src="{{ imageAfterSrc }}"  alt="{{ imagesAlt }}">
    {{/if}}
</div>
